/* .header {
  background-color: var(--primary-color);
  position: "static";
}

.header-main-button {
  color: var(--header-text-color);
}

.right-icons {
  margin-left: auto;
} */

/* .header-watch-list-button {
  color: var(--header-text-color);
}

.language-dropdown{
  color: var(--header-text-color) !important;
} */

