
.search-bar{
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    width: 100%;
}

@media (max-width: 460px){
    .search-bar{
        flex-wrap: wrap;
        justify-content: center;
    }
}