:root {
    /* light */
    --light-text-color: #444444;
    --light-bg-color: #FAFAFA;
    --light-secondry-color: #171717;
    --light-primary-color: #DA0037;

    /* dark */
    --dark-text-color: #FFFBFB;
    --dark-bg-color: #171717;
    --dark-secondry-color: #FFFF;
    --dark-primary-color: #DA0037;
}
